NEXT_PUBLIC_PROVENANCE_CID=""
NEXT_PUBLIC_MASTER_CONTRACT_CID=""
NEXT_PUBLIC_MARKET_CONTRACT_CID=""
NEXT_PUBLIC_NAME=""
NEXT_PUBLIC_CHAIN_ID=
NEXT_PUBLIC_MASTER_CONTRACT=""
NEXT_PUBLIC_MARKET_CONTRACT=""
NEXT_PUBLIC_SPLITTER_CONTRACT=""
NEXT_PUBLIC_SPLITTER_CONTRACT_CID=""
